[data-type="file-explorer"]:has([data-drop-position]) {
	.tree-item { position: relative;}

	.tree-item.temp-child { height: 15px; }

	.tree-item::after, .tree-item:where(:nth-child(1 of .tree-item))::before {
		content: "";
		position: absolute;
		display: block;
		translate: -52% -2px;
		height: 2px;
		width: 80%;
		left: 50%;
		background-image: linear-gradient(90deg, #8888881a 50%, transparent 50%);
		background-size: 8px 2px;
		background-repeat: repeat-x;
		border-radius: 100px;
	}

	.tree-item-children .tree-item:where(:nth-last-child(1 of .tree-item))::after {
		background-image: none;
	}

	.tree-item[data-drop-position="before"]::before,
	.tree-item[data-drop-position="after"]::after {
		height: 2px;
		background-image: linear-gradient(90deg, var(--color-accent) 50%, transparent 50%);
		mask-image: linear-gradient(90deg, transparent 0%, black 50%, black 50%, transparent 100%);
		background-repeat: repeat-x;
		animation: dash-flow 0.5s linear infinite;
	}

	.nav-folder.is-drop-target {
		background: hsla(var(--interactive-accent-hsl), 0.05) !important;
		border-radius: var(--radius-s);
		
		> .nav-folder-title {
			color: var(--nav-item-color-highlighted) !important;
		}
	}

	.nav-folder.is-being-dragged-over {
		background-color: transparent;
		> .nav-folder-title {
			color: var(--nav-item-color);
		}
	}
}

@keyframes dash-flow {
	from { background-position: 0 0; }
	to { background-position: 8px 0; }
}

.menu-item[data-section="customOrder"] {
	& .menu-item-icon:first-child { display: flex; }

	& .dragging-enabled-checkbox {
		margin-bottom: -2px;
		& input { margin: 0; }
	}

	.svg-icon.lucide-pin {
		transform: rotate(45deg);
		margin-bottom: -2px;
	}
}

.manual-sorting-modal .modal-buttons {
	display: flex;
	gap: 8px;
}